<div class="home-container">
    <div class="glass-box">
      <h1>Hello 👋, I'm <span class="highlight">Siddharth</span></h1>
      <h2>.NET Full-Stack Developer | Angular Specialist</h2>
      <p>
        I design and develop scalable web applications using Microsoft technologies and modern frontend frameworks.
        With hands-on experience in microservices and enterprise-grade architecture, I bring both precision and passion to the table.
      </p>
      <button routerLink="/experience" class="explore-btn">View My Experience</button>
    </div>
  </div>
  